{% block ChatSelect %}
    <div class='middle-screen'>
        <div class='alert-info'>
            <hr/>
            <h3>
                Seleccione una persona
            </h3>
            <span>
                para iniciar una conversacion
            </span>
        </div>
    </div>
{% endblock %}