{% block InboxPeople %}
    <div class="inbox_people">

        {{ block ('SearchBox', '@twig_component/SearchBox.html.twig')  }}
        {{ block ('Sidebar', '@twig_component/Sidebar.html.twig') }}

    </div>
{% endblock %}