{% block SearchBox %}
<div class="headind_srch">
    <div class="recent_heading mt-2">
        <h4>Recientes</h4>
    </div>
    <div class="srch_bar">
        <div class="stylish-input-group">
            <button class="btn text-danger">
                Salir
            </button>
        </div>
    </div>
</div>
{% endblock %}